[submodule "WBC/smarts/lib/forge-std"]
	path = WBC/smarts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "WBC/smarts/lib/solmate"]
	path = WBC/smarts/lib/solmate
	url = https://github.com/rari-capital/solmate
